name: e2e
on:
  push:
    branches:
      - e2e

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          build: npm run build
          start: npm start
          wait-on: http://localhost:4200
    env:
      CYPRESS_authLogin: ${{ secrets.AUTHLOGIN }}
      CYPRESS_authPass: ${{ secrets.AUTHPASS }}

#  test: # make sure the action works on a clean machine without building
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#      - run: npm install
#      - run: npm test
